.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--full-page-height-minus-header-height);
  width: 100%;
}

.errorIcon {
  margin-right: 20px;
  color: var(--status-alert);
}
