.shell {
    align-content: center;
    color: var(--text-white-he);
    display: grid;
    justify-items: center;
    text-align: center;
}

.apiResponse {
    width: 80vw;
    display: block;
    background-color: #FFFFFF20;
    text-align: left;
    padding: 2rem;
    border-radius: 0.5rem;
}