.root {
  border-radius: var(--border-radius);
  background: var(--surface);
  padding: 8px 16px 8px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.root::before {
  content: "";
  position: absolute;
  height: calc(100% - 4px);
  width: 5px;
  left: 2px;
  top: 2px;
  border-radius: var(--border-radius);
}

.root p {
  margin: 0;
}

.sequence {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
}

.name {
  font-size: 12px;
  line-height: 16px;
}

/* statuses */
.dc-high::before {
  background: var(--dc-high);
}
.dc-both::before {
  background: var(--dc-both);
}
.dc-low::before {
  background: var(--dc-low);
}
.dispatch::before {
  background: var(--dispatch);
}
.dfr-dispatch::before {
  background: var(--dfr-dispatch);
}
.dfr-third-party::before {
  background: var(--dfr-third-party);
}
.dfr-dlh::before {
  background: var(--dfr-dlh);
}
.dfr-high::before {
  background: var(--dfr-high);
}
.dffr::before {
  background: var(--dfr-both);
}
.dfr-low::before {
  background: var(--dfr-low);
}
.sfr-third-party::before {
  background: var(--sfr-third-party);
}
.sfr-lfs::before {
  background: var(--sfr-lfs);
}
.sfr-high::before {
  background: var(--sfr-high);
}
.sfr-both::before {
  background: var(--sfr-both);
}
.sfr-low::before {
  background: var(--sfr-low);
}
.triad::before {
  background: var(--triad);
}
.unavailable::before {
  background: var(--unavailable);
}
.no-schedule::before {
  background: var(--background);
}

.timeIcon svg {
  color: var(--overlay-black-24);
  display: inline-block;
  height: 16px;
  width: 16px;
}

.times {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 16px;
}

.startEnd {
  display: flex;
  justify-content: space-between;
}

.startEnd span:first-of-type {
  font-weight: bold;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .root {
    min-width: 204px;
  }
}
