.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--navigation);
  color: var(--text-white-he);
}

.link {
  color: var(--text-white-he);
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}
