:root {
  --navigation: #180048;
  --primary: #5f1ad1;
  --secondary: #ec4ff2;
  --surface: #ffffff;
  --background: #eceff1;
  --black: #000000;

  --error: #dc3545;
  --info: #0d6efd;
  --success: #198754;
  --warning: #ffc107;

  --status-alert: #ff3849;
  --status-good: #34cd71;
  --status-unknown: #cccccc;
  --status-warning: #ffc144;

  --dc-high: #fb439b;
  --dc-both: #9b10a9;
  --dc-low: #f25bdc;
  --dispatch: #9de96b;
  --dfr-dispatch: #ffb0b0;
  --dfr-third-party: #f5524b;
  --dfr-dlh: #fbb243;
  --dfr-high: #f3c824;
  --dfr-both: #ff692a;
  --dfr-low: #fbec3b;
  --sfr-third-party: #23b994;
  --sfr-lfs: #108fa2;
  --sfr-high: #0c40b6;
  --sfr-both: #24a5de;
  --sfr-low: #3d4fd7;
  --triad: #eaff69;
  --unavailable: #d63c35;

  --text-black-he: #000000;
  --text-black-me: rgba(0, 0, 0, 0.8);
  --text-black-le: rgba(0, 0, 0, 0.68);
  --text-white-he: #ffffff;
  --text-white-me: rgba(255, 255, 255, 0.8);
  --text-white-le: rgba(255, 255, 255, 0.68);

  --overlay-white-04: rgba(255, 255, 255, 0.04);
  --overlay-white-08: rgba(255, 255, 255, 0.08);
  --overlay-white-12: rgba(255, 255, 255, 0.12);
  --overlay-white-16: rgba(255, 255, 255, 0.16);
  --overlay-white-24: rgba(255, 255, 255, 0.24);
  --overlay-white-48: rgba(255, 255, 255, 0.48);
  --overlay-white-96: rgba(255, 255, 255, 0.96);

  --overlay-black-04: rgba(0, 0, 0, 0.04);
  --overlay-black-08: rgba(0, 0, 0, 0.08);
  --overlay-black-12: rgba(0, 0, 0, 0.12);
  --overlay-black-16: rgba(0, 0, 0, 0.16);
  --overlay-black-24: rgba(0, 0, 0, 0.24);
  --overlay-black-48: rgba(0, 0, 0, 0.48);
  --overlay-black-96: rgba(0, 0, 0, 0.96);
}
