.navLinkList {
  text-align: center;
  padding: 0;
}

.navLinkListItem {
  margin: 10px 0;
  list-style: none;
}

.navLinkListItem a {
  color: var(--text-white-he);
  text-decoration: none;
}

.navLinkListItem a:hover,
.navLinkListItem a:active,
.navLinkListItem a:focus {
  text-decoration: underline;
}
