.root {
  margin: 0 0 8px;
  display: block;
  text-decoration: none;
  transition: all 0.2s linear;
}

.root:hover,
.root:active,
.root:focus {
  transform: scale(1.01);
}

.site {
  padding: 12px 24px;
  color: var(--text-black-he);
  display: flex;
  justify-content: space-between;
  background: var(--surface);
  border-radius: var(--border-radius);
}

.text {
  display: flex;
  align-items: center;
  gap: 24px;
}

.text h2 {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  line-height: 24px;
}

.text span {
  font-size: 12px;
  line-height: 16px;
}

.services {
  background-color: var(--background);
  border-radius: var(--border-radius);
  padding: 4px;
  gap: 4px;
  display: flex;
}

@media (max-width: 767px) {
  .site,
  .services {
    flex-direction: column;
  }
  .text {
    margin-bottom: 24px;
    justify-content: space-between;
  }
  .text img {
    order: 2;
  }
}
