.header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--navigation);
  color: #fff;
}

button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--navigation);
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  transition: height 0.3s, opacity 0.3s;
}

ul.show {
  height: auto;
  opacity: 1;
  pointer-events: all;
}

ul li {
  margin: 10px 0;
}
