a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"]
{
  display: none !important;
}
.gm-control-active.gm-fullscreen-control {
  display: none;
}
.gmnoprint:not(.gm-bundled-control) {
  display: none;
}
