.root {
  position: relative;
}

.root,
.mapSkeleton {
  width: 100%;
  height: 398px;
}

.fullPage {
  height: var(--full-page-height-minus-header-height);
}

@media (max-width: 767px) {
  .root,
  .mapSkeleton {
    height: 272px;
  }
  .fullPage {
    height: var(--full-page-height-minus-header-height);
  }
}

.overlay::after {
  content: "";
  pointer-events: none;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.skeletonEffect {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #dddbdd;
}

.skeletonEffect::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 5s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.text {
  position: absolute;
  color: var(--text-white-he);
  top: 44px;
  left: 44px;
  z-index: 1;
}

.text h1 {
  font-size: 34px;
  line-height: 36px;
  margin: 0;
}

.text h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .text h1 {
    font-size: 24px;
    line-height: 24px;
  }
  .text h2 {
    font-size: 14px;
    line-height: 24px;
  }
}
